@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Open+Sans:wght@600&family=Oswald:wght@200..700&family=Poppins:wght@300;400&display=swap');

.wallpapers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.wallpaper {
    overflow: hidden;
}
.wallpaper img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}
.wallpaper img:hover {
    transform: scale(1.1);
}
body {
    background-color: #292929;
    color: white;
    margin: 30px;
}
body header {
    text-align: center;
    margin: 20px;
    font-size: 2.5rem;
    font-family: "Oswald", "Arial";
}
.back button {
    background-color: white;
    border: none;
    font-family: 'Oswald', 'Arial';
    font-size: 1.5rem;
    padding: 0px 30px;
}
.back button:hover {
    text-decoration: underline;
    cursor: pointer;
}