.buttons {                                                                                                                 
    text-align: center;
}
.buttons button {
    background-color: #515151;
    color: white;
    border: none;
    padding: 20px 50px;
    min-width: 300px;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.buttons button:hover {
    transition: 0.3s ease-in-out;
    background-color: #eb0000;
}
header {
    text-align: center;
    padding: 0 0 100px;
}
header button {
    color: white;
    background-color: black;
    padding: 10px 50px;
    font-size: 1.5rem;
}

@media (max-width: 500px) {
    body {
        background-color: rebeccapurple;
    }
    .buttons button {
        background-color: white;
        color: black;
        margin: 10px;
    }
}