@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Open+Sans:wght@600&family=Oswald:wght@200..700&family=Poppins:wght@300;400&display=swap');

.wallpapers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
.wallpaper {
    overflow: hidden;
}
.wallpaper img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}
.wallpaper img:hover {
    transform: scale(1.1);
}
body {
    background-color: #c1c1c1;
}
header {
    text-align: center;
    font-size: auto;
    font-family: "Oswald", "Arial";
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #00000087
}
header h1 img {
    width: 100px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 8px;
}
.back button {
    position: absolute;
    left: 8px;
    height: 100px;
    width: 120px;
    background-color: #ff4141;
    color: white;
    border: none;
    font-family: 'Oswald', 'Arial';
    font-size: 1.5rem;
    padding: 0px 30px;
    box-shadow: 3px #181818;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.back button:hover {
    cursor: pointer;
    font-size: 1.7rem;
    background-color: #da3d3d;
}
.back button:active {
    background-color: black;
}
header h1 img {
    height: 80px;
    width: auto;
    padding: 10px 0;
}
main .wallpaper {
    border-radius: 5px;
}

@media (min-width: 1500px) {
    body {
        background-color: white;
    }
    .wallpapers {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 10px;
    }
    .wallpaper {
        overflow: hidden;
    }
    .wallpaper img {
        width: 100%;
        height: auto;
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .wallpapers {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 5px;
    }
    .wallpaper {
        overflow: hidden;
    }
    body {
        background-color: white;
    }
    .back button {
        height: 52px;
        width: 90px;
        font-size: 1rem;
        box-shadow: none;
        background-color: #ff4141;
        color: white;
    }
    .back button:hover {
        transform: scale(1);
        text-decoration: none;
        font-size: 1rem;
    }
    header h1 img {
        height: 25px;
        width: auto;
        padding: 10px 0;
    }
    header h1 {
        margin-left: 90px;
    }
}

/* Dark mode settings */

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #ffffff;
    }
    header {
        box-shadow: none;
    }
}